@import "../../Config.scss";

body {
  .main {
    display: flex;
    justify-content: center;
  }

  .container {
    min-width: 40vw;
    padding-right: 20px;
    flex-grow: 1;
  }

  .container > * {
    padding-left: 10px;
  }

  .container > *:not(article) {
    padding-left: 40px;
  }

  @media (max-width: $Tablet) {
    .container {
      padding-right: 10px;
    }

    .container > * {
      padding-left: 10px;
    }
  
    .container > *:not(article) {
      padding-left: 20px;
    }
  }

  @media (max-width: $Mobile) {
    .container {
      padding-right: 0px;
    }
    .container > * {
      padding-left: 0px;
    }

    .container > *:not(article) {
      padding-left: 10px;
    }
  }
}